<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>{{ title }}</title>

    <link href="../common/libs/bs4a5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="styles/typo.css" rel="stylesheet">
    <link href="styles/blog.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
  </head>

  <body>

    <!--
    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav col-xs-10 offset-xs-1">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Section</a>
          <a class="nav-link" href="#">About</a>
        </nav>
      </div>
    </div>
    -->

    <!--
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">An example blog template built with Bootstrap.</p>
      </div>
    </div>
    -->

    <div class="container">

      <div class="row">

        <div class="col-xs-10 offset-xs-1 blog-main">

        {% block articulos %}{% endblock articulos %}

        <!--
          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>
        -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </div><!-- /.container -->

<!--
    <footer class="blog-footer">
      <p>
        <a href="#">Arriba</a>
      </p>
    </footer>
-->


    <!-- JavaScript -->
    
<!--
    <script src="../common/libs/jquery/jquery.min.js"></script>
    <script src="../common/libs/bs4a5/js/bootstrap.min.js"></script>
-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
