{% extends "base.html" %}
{% block articulos %}
    <div class="blog-archive">

        <h2 class="blog-title">Archivo</h2>

        <div class="post-list">
            {% for post in posts %}
            {% set post_date = '%s/%s/%s' % (post.date.day, post.date.month, post.date.year) %}
            {% set post_date_url = '%s%s%s-%s' % (post.date.year, post.date.month, post.date.day, post.id) %}
            <p class="post-meta"><a>{{ post_date }} - </a><a href="{{ post_date_url }}.html">{{ post.title }}</a>{# por {{ post.author }}#}</p>
            {% endfor %}
        </div><!-- /.post-list -->
        
    </div><!-- /.blog-archive -->
{% endblock articulos %}
