{% extends "base.html" %}
{% block articulos %}
    {% set post_date = '%s/%s/%s' % (date.day, date.month, date.year) %}
    {% set post_id = '%s%s%s%s' % (date.year, date.month, date.day, id) %}
    
    {% set hashtag = '%s%s' % ('ad82blgpst', post_id) %}
    {% set tw_user = 'adrianet82' %}
    {% set gravatar_img_size = '44' %}
    {% set gravatar_url = 'https://www.gravatar.com/avatar/e413ac8f936e44a9e998bff0a2110e5d?s=' ~ gravatar_img_size %}
    
    <div class="blog-post">
        
        <h6><a href="index.html">archivo</a></h6>
        
        <h2 class="blog-post-title">{{ title }}</h2>

        <div class="row">
            <div class="blog-post-meta col-xs-12">
                <div class="pull-left author-img"><a href="https://twitter.com/intent/user?screen_name={{ tw_user }}"><img src="{{ gravatar_url }}" alt="{{ author }}" class="rounded-circle" /></a></div>
<!--
                <div class="pull-left author-img"><a href="https://twitter.com/intent/user?screen_name={{ tw_user }}"><img src="" alt="{{ author }}" class="rounded-circle" /></a></div>
-->
                <div>
                    <div><a>{{ author }}</a></div>
                    <div><a><small>{{ post_date }}</small></a></div>
                </div>
            </div>
        </div>
        
        <div class="blog-post-content">{{ content }}</div>
        
    </div><!-- /.blog-post -->
    <div class="blog-post-social">
        
        <div class="blog-post-share">
<!--
            <p>Comparte:</p>
            <a class="" href="https://twitter.com/intent/tweet?text={{ title }} por @{{ tw_user }}&hashtags={{ hashtag }}&url={{ url }}&lang=es"><img src="images/share_btns/twitter_social_circle_color_32.png" title="Tuitea este post" alt="tweet post" /></a>
            <a class="" href="https://plus.google.com/share?url={{ url }}&hl=es"><img src="images/share_btns/gplus-32.png" title="Comparte por Google+" alt="google+ share" /></a>
-->
            <a class="" href="https://twitter.com/intent/tweet?text={{ title }} por @{{ tw_user }}&hashtags={{ hashtag }}&url={{ url }}&lang=es"><img src="images/share_btns/Twitter_logo_blue_32.png" title="Tuitea este post" alt="tweet post" /></a> 
            <a class="" href="https://telegram.me/share/url?url={{ url }}&text={{ title }}"><img src="images/share_btns/telegram_32.png" title="Comparte por Telegram" alt="telegram share" /></a>
            
        </div>
        
        <div class="blog-post-comments">
<!--
            <p>Comenta:</p>
-->
            <h6><a class="" href="https://twitter.com/hashtag/{{ hashtag }}">#{{ hashtag }}</a></h6>
        </div>
        
    </div><!-- /.blog-post-social -->
{% endblock articulos %}
