
img {
    max-width: 100%;
    margin-bottom: 1rem;
}

html {
    position: relative;
    min-height: 100%;
}

.blog-main {
    margin-top: 1rem;
}

.blog-main h6 {
    margin-bottom: 2rem;
}

.blog-title {
    margin-bottom: 2rem;
}

.blog-post-title {
    margin-bottom: 1.5rem;
}

.blog-archive {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.post-list {
    margin-top: 2rem;
}

.blog-post-meta {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.author-img {
    float: left;
    margin: 0.1rem 0.8rem 0 0.1rem;
}

.blog-post {
    margin-bottom: 3rem;
}

.blog-post-social {
    margin-bottom: 4rem;
}

.blog-post-share {
    margin-bottom: 0.2rem;
}

.blog-post-share img {
    padding-right: 0.4rem;
}

.blog-footer {
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
