/* --- Tipography --- */

@font-face {
    font-family: 'Arvo';
    src: url('../../common/fonts/Arvo/Arvo-Regular.ttf');
    src: url('../../common/fonts/Arvo/arvo-regular-webfont.eot');
    src: url('../../common/fonts/Arvo/arvo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../common/fonts/Arvo/arvo-regular-webfont.woff') format('woff'),
         url('../../common/fonts/Arvo/Arvo-Regular.ttf') format('truetype'),
         url('../../common/fonts/Arvo/arvo-regular-webfont.svg#ExpletusSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

a, p.blog-post-meta {
    font-family: "Arvo", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 1.2em;
}
